[submodule "mavlink"]
	path = mavlink
	url = git@github.com:mavlink/mavlink
[submodule "interop"]
	path = interop
	url = https://github.com/auvsi-suas/interop
[submodule "electron.ui/static/ol2"]
	path = electron.ui/static/ol2
	url = https://github.com/openlayers/ol2.git
